.footer{
    margin: 0;
    margin-top: 32px;
    padding: 26px;
    width: 100%;
    background-color: black;
    color: bisque;
    border-top: 1px solid rgb(141, 219, 193);
    bottom: 0;
    position: fixed;
}
.list{
    margin: 30px;
}