.header {
  background-color: rgb(141, 219, 193);
  color: white;
  text-align: center;
  padding: 20px;

  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    list-style: none;

    .link {
      color: rgb(223, 83, 32);
      text-decoration: none;
      font-weight: 600;
    }

    .lang-item {
      display: flex;
      align-items: center;
      gap: 8px;
      color: rgb(223, 83, 32);

      select {
        padding: 4px 8px;
        border-radius: 6px;
        border: none;
        outline: none;
      }
    }
  }
}