<header class="header">
  <h1>Práctica Inicial</h1>

  <nav>
    <ul class="nav-list">
      <li><a class="link" routerLink="/">Home</a></li>
      <li><a class="link" routerLink="/about">About us</a></li>
      <li><a class="link" routerLink="/contact">Contact us</a></li>
      <li><a class="link" routerLink="/admin">Admin</a></li>
      <li><a class="link" routerLink="/pipes-demo">Demo pipes</a></li>

      <!-- Mostrar según login -->
      <li *ngIf="!auth.isLogged()">
        <a class="link" routerLink="/login">Login</a>
      </li>

      <li *ngIf="auth.isLogged()">
        <button class="link" (click)="logout()">Logout</button>
      </li>
    </ul>
  </nav>
</header>