<div class="card-container">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>
<div class="animation-cont">
    <h1 class="home-title">Página de Abel</h1>
    <h3 class="home-subtitle">Aprendiendo GSAP con Angular</h3>
    <button class="home-btn">Empezar</button>

    <div class="home-ball">
        🥎
    </div>
    <button class="home-cta">Animar botón</button>
</div>


<h2>WebSockets – Tiempo real</h2>

<p><strong>Estado:</strong> {{ estado }}</p>

<button (click)="enviar()">Enviar mensaje al servidor</button>

<ul>
    <li *ngFor="let m of mensajes">

        <!-- ✅ Ejercicio 8: Filtrar por tipo -->
        <ng-container [ngSwitch]="m.type">

            <p *ngSwitchCase="'notification'">
                🔔 Notificación: {{ m.payload }}
            </p>

            <p *ngSwitchCase="'client-message'">
                📤 Enviado desde Angular: {{ m.payload }}
            </p>

            <p *ngSwitchCase="'client-message'">
                📤 Enviado desde Angular: {{ m.payload }}
            </p>


            <p *ngSwitchCase="'client-echo'">
                🔁 Eco del servidor: {{ m.payload }}
            </p>

            <p *ngSwitchDefault>
                📦 Otro tipo: {{ m.payload }}
            </p>

        </ng-container>

    </li>
</ul>

<!-- 
<app-footer></app-footer> -->